
.table {
    display:table;
}
.header {
    display:table-header-group;
    font-weight:bold;
    background-color:azure;
}
.rowGroup {
    display:table-row-group;
}
.row {
    display:table-row;
    font-size: 19px;
}
.row:hover{ 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    font-size: 20px;
    background-color: khaki;

}
.cell {
    display:table-cell;
   padding:10px;
    border: 1px solid cadetblue;
}
.cell1 {
     width:25%;
}
.cell2 {
     width:65%;
}
.cell3 {
     width:5%;
}